@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root{
    --mainColor: crimson;
    --bgSection: white;
    --barColor: rgb(207, 127, 127);
}

*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    background-color: var(--mainColor);
}

main{
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 16px;
    margin: 20px;
    font-family: "Google Sans", sans-serif;
}

@media(max-width: 880px){
    main {
        grid-template-columns: 1fr;
    }
}


.left, .experience, .education{
    background-color: var(--bgSection);
    border-radius: 7px;
    overflow: hidden;
}

.experience, .education{
    padding: 10px;
}

.left{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.leftImage{
    position: relative;
}

.leftImage img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 7px;
}

.leftImage h1{
    position: absolute;
    bottom: 0;
    color: #ff5709e8;
}

.right{
    gap: 20px;
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
}

.personal, .skills, .languages{
    padding: 16px;
    line-height: 20px;
}

.progress{
    display: inline-block;
    width: 100%;
    height: 16px;
    background-color: var(--barColor);
    transition: 100ms ease;
    border-radius: 20px;
}

.bar{
    border-radius: 20px;
    height: 100%;
    width: 80%;
    background-color: var(--mainColor);
}

.itenName{
    font-weight: bolder;
}

.date, i{
    color: var(--mainColor);
}

footer{
    color: white;
    background-color: black;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer a{
    text-decoration: none;
    color: var(--mainColor);
    padding: 5px;
    transition: 100ms ease;
}

footer a:hover, i:hover{
    color: rgb(255, 0, 0);
    
}

